@import './_trix.css';
.social_icons {float:right; margin-right:20px; clear:right;}
.date_time {margin-right:20px; float:left;
    color: #FBB413;
    font-size: 1.3em;
    font-weight: bold;
}
.techcard {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 16px;
    margin-bottom: 16px;
    background-color: lightcyan;
}

.techcard-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.techcard-description {
    color: #555555;
    margin-bottom: 16px;
}

.techcard-footer {
    font-size: 14px;
    color: #888888;
}

body {
    background-color: black;
}
